appdirs           
asgiref           
astroid          
autopep8          
bandit            
click             
colorama          
cycler            
distlib           
dj-database-url   
dj-static         
Django            
django-heroku     
django-taggit     
django-toolbelt   
filelock          
flake8            
Flask             
gitdb             
GitPython         
gunicorn          
isort             
itsdangerous      
Jinja2            
kiwisolver        
lazy-object-proxy==1.4
MarkupSafe        
matplotlib        
mccabe            
mypy              
mypy-extensions   
numpy             
pbr               
Pillow            
pip               
psycopg2          
pycodestyle       
pyflakes          
pylint            
pyparsing         
python-dateutil   
pytz              
PyYAML            
setuptools        
six               
smmap             
sqlparse          
static3           
stevedore         
toml              
typed-ast         
typing-extensions 
virtualenv        
Werkzeug          
whitenoise        
wrapt             
