{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
{% for announcement in announcements %}
<div class="well">
    <h2>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}">{{ announcement.title }}</a>
    </h2>
    {{ announcement.content|linebreaks }}
    <p>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}#comments">
        <i class="fas fa-comments"></i>
        <!-- with é usado para atribuir a uma variável uma ação, com o objetivo de não repetir código. Mas essa 
            váriavel é visível apenas no block with-->
        {% with comments_count=announcement.comments.count %}
            {{ comments_count }} Comentário{{ comments_count|pluralize }}
            <!-- pluralize é um filtro que por padrão retorna s quando o número é igual a zero ou maior que um -->
        {% endwith %}
        </a>
    </p>
</div>
{% empty %} <!-- Se o laço for não retornar nenhum valor, então entra no empty-->
<div class="well">
    <h2>Nenhum anúncio criado</h2>
</div>
{% endfor %}
{% endblock %}